<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <canvas id="game-canvas" width="512" height="512"></canvas>
    <button onclick="randomize(); renderFrame();">Randomize</button>
    <button onclick="flag = true; runGame()">Run</button>
    <button onclick="flag = false">Stop</button>
    
    <script src="/js/game.js"></script>
</body>
</html>