<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome in room <%= id %></h1>
    <p id="user-info">Starting script...</p>
    <p id="room-info">Getting room data...</p>
    <button onclick="socket.emit('usr-req:launch-game')">Launch match</button>    
    <button onclick="socket.emit('usr-req:switch-team',(team)=>{document.getElementById('user-info').innerHTML = `current team : <b>${team}</b>`; })">Switch team</button>
    <button onclick="window.location.href = '/lobby'">Leave</button>

    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> 
    <script src="/socket.io/socket.io.js"></script>

    <script>
        const roomToken = window.location.href.split('/')[window.location.href.split('/').length - 1]

        const socket = io('/rooms');

        socket.on('init-res:user-connection', (err, team)=> {
            if (err){
                document.getElementById('user-info').innerHTML = err.message; 
                return false
            }
            document.getElementById('user-info').innerHTML = `current team : <b>${team}</b>`;
        })

        socket.on('evnt-res:launch-game', ( gameToken)=> {
            window.location.href = `/game/${gameToken}`;
        })
    </script>
</body>
</html>